<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Quản lý sinh viên</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/students']" routerLinkActive="active">Sinh viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ss']" routerLinkActive="active">Xem thêm</a>
      </li>
    </ul>
  </div>
  <button pButton pRipple type="button" class="p-button-rounded p-button-danger" (click)="Remove()">Đăng xuất</button>

</nav>
