<div class="container">
  <button
    pButton
    type="button"
    label="Thêm giảng viên"
    class="p-button-info"
    (click)="addTeacher()"
  ></button>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Mã giảng viên</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Lương</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Email</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Điện thoại</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of ListTeacher; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ p.idName }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.salary }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.birthday }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.address }}</td>
        <td>{{ p.phone }}</td>
        <td>
          <button pButton type="button" class="p-button-warning btn-edit">
            Sửa
          </button>
          <button pButton type="button" class="p-button-danger btn-delete">
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
